<!-- <app-task-item
    *ngFor="let t of tasks"
    [task]="t"

    (OnSelected)="selectedProduct($event)"
></app-task-item> -->

<div class="card d-inline-block m-1">
    <div class="card-body d-inline-block">
        <h5 class="card-title">ToDoListComponent</h5>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">

                <app-task-item 
                *ngFor="let t of tasks" 
                [task]="t" (OnSelected)="selectedProduct($event)">
                </app-task-item>

            </ul>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Add task</h5>
            <p><span>Name:</span>
                <input type="text" [(ngModel)]='name'>
            </p>
            <p><span>Description:</span>
                <input type="text" [(ngModel)]='description'>
            </p>

            <p>
                <button class="btn btn-primary" (click)='addTask()'>Add</button>
            </p>
        </div>
    </div>